<h1>Registrations</h1>

<form th:action="@{/registrations}" th:object="${registration}" method="POST">

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
        </tr>
        <tr th:each="registration : ${registrations}">
            <td th:text="${registration.personName}"></td>
            <td th:text="${registration.personSurname}"></td>
            <td th:text="${registration.email}"></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{personName}" placeholder="Name"></td>
            <td><input type="text" th:field="*{personSurname}" placeholder="Surname"></td>
            <td><input type="text" th:field="*{email}" placeholder="Email"></td>
        </tr>
    </table>

    <input type="submit" value="Register">

</form>
